{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
	Docker nodes list
{% endblock %}

{% block content %}

<table class="table">
{% for node  in nodes %}
    <tr>
	<th>Node name</th>
	<th>ID</th>
	<th>Role</th>
	<th>IP Address</th>
	<th>Status</th>
    </tr>
	<tr>
		<td>ID</td>
		<td>{{ node.attrs.ID }}</td>
	</tr>
	<tr>
		<td>Version</td>
	      	<td>Index: {{ node.attrs.Version.Index}}</td>
	</tr>
	<tr>
		<td>CreatedAt</td>
		<td>{{ node.attrs.CreatedAt }}</td>
	</tr>
	<tr>
		<td>UpdatedAt</td>
		<td>{{ node.attrs.UpdatedAt }}</td>
	</tr>
	<tr>
		<td>ManagerStatus</td>
		<td>Reachability: {{ node.attrs.ManagerStatus.Reachability }}</td>
	        <td>Addr: {{ node.attrs.ManagerStatus.Addr }}</td>
	</tr>
	<tr>
		<td>Role: {{ node.attrs.Spec }} </td>
		<td>Availablity: {{ node.attrs.Spec }}; </td>
	</tr>
	<td>
	<table>
	{% for label in images.attrs.Spec.Labels %}
		<tr><td>{{ label }}</td></tr>
	{% endfor %}
	</table>
	</td>
	<td>{{ image.attrs.Status }}</td>
	<td>
	<table>
	{% for item in images.attrs.Description %}
		<tr><td>{{ item }}</td></tr>
	{% endfor %}
	</table>
	</td>
</tr>
{% endfor %}
</table>

{% bootstrap_pagination nodes  url="docer_nodes" size="small" %}

{% endblock %}
