{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Docker Services list{% endblock %}

{% block content %}

<table class="table">
    <tr>
	    <th>ID image</th>
	    <th>Tags</td>
	    <th>Labels</th>
	    <th>Size</th>
	    <th>Created</th>
    </tr>
    {% for svc in services %}
    <tr>
	<td> SVC </td>
	<td>{{ svc.attrs.Id }}</td>
	<td>{{ svc.attrs.RepoTags }}</td>
	<td>
	<table>
	{% for label in svcs.attrs.Labels %}
		<tr><td>{{ lable }}</td></tr>
	{% endfor %}
	</table>
	</td>
	<td>{{ svc.attrs.Size }}</td>
	<td>{{ svc.attrs.Created }}</td>
    </tr>
    {% endfor %}
</table>

{% bootstrap_pagination svc  url="{{ request.get_full_path }}" size="small" %}

{% endblock %}

